{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block registration_active %}class="active"{% endblock %}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                <h1>Register for free!</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class='btn btn-lg btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
                </form>
            </div>
        </div>
        <hr/>
        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3 text-center'>
                <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
            </div>
        </div>
    </div>
{% endblock %}