{% extends "base.html" %}
{% block students_active %}class="active"{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        <p>
            Logged In: {{ request.user.username.title }}
            <a class="pull-right" href="{% url "auth_logout" %}" >Log Out</a>
        </p>
    {% endif %}
    <table class="table table-striped table-bordered" style="margin-top: 50px;" >
        <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age Name</th>
            <th>Email Name</th>
            <th>Registration Date</th>
            <th>Last Update</th>
        </tr>{% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.registered_date }}</td>
            <td>{{ student.last_update }}</td>
        </tr>{% endfor %}
    </table>
{% endblock %}